services:
  - type: web
    name: ph-holiday-api
    runtime: docker
    repo: https://github.com/surelle-ha/PhilippineHolidayAPI
    branch: main
    dockerfilePath: ./Dockerfile
    region: frankfurt
    plan: starter
    numInstances: 1
    envVars:
      - key: RUST_LOG
        value: info
      - key: PLAYWRIGHT_BROWSERS_PATH
        value: /app/.cache/ms-playwright
    healthCheckPath: /health
    autoDeploy: false
    disk:
      name: data
      mountPath: /app/data
      sizeGB: 1